@reference "../../style.css";

.rhap_container {
    background-color: var(--color-background-elevated);
    color: var(--color-accent-primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.rhap_main-controls-button {
    color: var(--color-accent-primary);
}

.rhap_main-controls-button:hover {
    color: var(--color-accent-primary-hover);
}

.rhap_progress-bar {
    background-color: var(--color-background-surface);
}

.rhap_progress-filled {
    background-color: var(--color-accent-primary);
}

.rhap_time {
    color: var(--color-text-secondary);
}

.rhap_volume-button {
    color: var(--color-accent-primary);
}

.rhap_volume-bar {
    background-color: var(--color-background-surface);
}
